#map {
    width: 100%;
    height: 800px;
}
#buttons {

    margin-top: 10px;
}
.row{
    margin-right: 10px;!important;
    margin-left: 10px;!important;
}

.body-content {
    padding-top: 5px;
}

table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9;
}

th, td {
    min-width: 120px;
    padding: 10px 20px;
}

@media (min-width: 1700px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1700px;
    }

}

/*@media (min-width: 1200px) {*/
/*    .container, .container-lg, .container-md, .container-sm, .container-xl {*/
/*        max-width: 1140px;*/
/*        max-height: 900px;*/
/*    }*/
/*    #map {*/
/*        width: 100%;*/
/*        height: 490px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1570px) {*/
/*    .row  {*/
/*        align-items: center;*/
/*        margin-right: 10px;*/
/*        margin-left: 10px;*/
/*        height:550px;*/
/*    }*/
/*    .row > .col-md-8 > #map{*/
/*        height: 550px;*/
/*        width: auto;*/
/*    }*/

/*}*/