instance/
.webassets-cache
/Metrominuto/.idea
/HolaMundo
/Metrominuto/GOOGLE_API_KEY.txt
/Metrominuto/templates/node_modules
/Metrominuto/__pycache__


.idea/

/Metrominuto/templates/grafo_svg.svg
/env37
venv/

Metrominuto/app/static/img/grafo_svg.svg

Metrominuto/app/templates/grafo_svg.svg

Metrominuto/env/

env/

Metrominuto/.vscode/

Metrominuto/.deployment

Metrominuto/metrominuto_app/__pycache__/
Google_API_Key.txt
Metrominuto/metrominuto_app/templates/grafo*
Metrominuto/metrominuto_app/main/__pycache__/