instance/
.webassets-cache
/Metrominuto/.idea
/HolaMundo
/Metrominuto/GOOGLE_API_KEY.txt
/Metrominuto/templates/node_modules
/Metrominuto/__pycache__


.idea/

/Metrominuto/templates/grafo_svg.svg

venv/

Metrominuto/app/static/img/grafo_svg.svg

Metrominuto/app/templates/grafo_svg.svg
