instance/
.webassets-cache
/Metrominuto/.idea
/HolaMundo
/Metrominuto/GOOGLE_API_KEY.txt
/Metrominuto/templates/node_modules
/Metrominuto/__pycache__

Metrominuto/static/distance_matrix.json

Metrominuto/static/distance_matrix_ejemplo1.json

Metrominuto/static/marcadores_ejemplo1.json

Metrominuto/static/marcadores.json
