{% extends "base.html" %}
{% set active_page="ayuda" %}

{% block title %}Ayuda{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/ayuda.css') }}">

    <div id="ayuda_mapa" class="row" style="padding-top: 5px">
        <div class="col-lg-3">
            <p>Selección de puntos:</p>
            <ul>
                <li>Seleccione los puntos que desee incluir en el recorrido oulsando sobre el mapa, hasta un máximo de <b style="color:red;">15</b>.</li>
                <li>Puedes eliminar los puntos desde el botón
                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                    </svg>, o pulsando sobre <b style="color:red;">Borrar Marcadores</b>.</li>
                <li>Si los seleccionas como centrales, significa que los tendrá en cuenta en el cálculo de los caminos más cortos, y se cambiará el color de la chincheta a verde.</li>
                <li>Selecciona el modo de desplazamiento, que podrá ser en bicicleta o a pie.</li>
                <li>Pulsa sobre el botón  hasta un máximo de <b style="color:forestgreen;">Generar Mapa</b>.</li>
            </ul>
        </div>
        <div class="col-lg-8">
            <img src="{{ url_for('static', filename='img/ayuda_mapa.png') }}" class="rounded align-content-center" alt="ayuda-mapa" style="width:auto;height: 600px;">
        </div>
    </div>
    <div id="ayuda_grafo" class="row" style="padding-top: 5px">
        <div class="col-lg-3">
            <p>Selección del número de arcos:</p>
            <ul>
                <li>En esta pantalla podemos cambiar el núnmero de arcos que queremos que se muestren en el mapa generado.</li>
                <li>Una vez el mapa tenga los arcos que nos interesan, pulsar sobre el botón <b style="color:forestgreen;">Enviar</b></li>
            </ul>
        </div>
        <div class="col-lg-8">
            <img src="{{ url_for('static', filename='img/ayuda_grafo.png') }}" class="rounded align-content-center" alt="ayuda-mapa" style="width:auto;height: 600px;">
        </div>
    </div>
    <div id="ayuda_grafo_edit" class="row" style="padding-top: 5px">
        <div class="col-lg-3">
            <p>Edicón del mapa:</p>
            <ul>
                <li>En esta pantalla podemos editar la posción de los puntos. Para ellos pulsa encima del punto y arrastralo a la nueva posición.
                    <br>Los textos que indican el nombre del punto, así como los que indican el tiempo entre los puntos conectados a él se recalculan
                    automáticamente.</br>
                </li>
                <li>También se pueden mover los textos, por si fuesen de más ayuda en otra posición. Para ello sigue el mismo proceso que antes: haz click sobre un punto
                y arrastra para dejarlo en la posición que desee.</li>
            </ul>
        </div>
        <div class="col-lg-8">
            <img src="{{ url_for('static', filename='img/mover_punto.png') }}" class="rounded align-content-center" alt="ayuda-mapa" style="width:auto;height: 600px;">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}