<!DOCTYPE html>
<html>

<head>
    {% block head %}

        <meta charset="utf-8" />

        <!-- Define a viewport for Bootstrap's responsive rendering -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <!-- Fav Icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_2.ico') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Vuejs. Versión de desarrollo, incluye advertencias de ayuda en la consola -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <!-- Firebase config -->
        <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
        <script src="{{ url_for('static', filename='js/firebase-config.js') }}"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    {% endblock %}
</head>

<body>
<!-- Cookies modal -->
<div class="modal fade cookieModal" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="cookieModalLabel">Cookie Information and Consent Request</h2>
            </div>
            <div class="modal-body">
                <h4>Cookie Policy</h4>
                <p>[COOKIE MESSAGE HERE]</p>
                <p>
                    <a href="" target="_blank">Click here to view our cookie policy</a>
                </p>
            </div>
            <div class="modal-footer">
                <button id="cookieModalConsent" type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>

<header class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row bd-navbar sticky-top">
        <a class="navbar-brand mr-0 mr-md-2" href="{{ url_for('main.set_marks') }}" aria-label="Metrominuto">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" class="pull-right img-responsive" style="height: 35px">
        </a>
    {% if session['email'] %}
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link{% if active_page == 'mapa' %} active{% endif %}" href="{{ url_for('main.set_marks') }}">Mapa</a>
                </li>
                {% if session['grafo'] %}
                    <li class="nav-item">
                        <a class="nav-link{% if active_page == 'grafo' %} active{% endif %}" href="{{ url_for('main.draw_svg') }}">Grafo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_page == 'edit_graph' %} active{% endif %}" href="{{ url_for('main.edit_graph') }}">Editar</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if active_page == 'grafo' %} disabled{% endif %} disabled" href="{{ url_for('main.draw_svg') }}">Grafo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_page == 'edit_graph' %} disabled{% endif %}" href="{{ url_for('main.edit_graph') }}">Editar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="navbar-brand p-2" href="https://github.com/gpm0009/TFG_MetrominutoWeb" target="_blank" aria-label="Github" rel="noopener">
                <svg class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 512 499.36" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand p-2" href="{{ url_for('main.help_page') }}" target="_blank" aria-label="Ayuda" rel="noopener">
                <svg class="bi bi-question-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                    <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </a>
        </li>
        <li class="nav-item dropdown">
            {% if session['email'] %}
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ session['email']|safe }}
                </a>
                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                    <a id="sign-out" class="dropdown-item">Cerrar Sesión</a>
                </div>
            {% endif %}
        </li>
    </ul>
    {% if not session['email'] %}
        <a id="sign-in" class="p-2 btn btn-outline-primary" href="#">Iniciar Sesión</a>
    {% endif %}
</header>

<!-- "content" block that pages are expected to override -->
<div class="container-fluid col-12" style="padding-top: 10px;padding-bottom: 5px;">
    {% block content %}{% endblock %}
</div>
<footer class="pt-4 my-md-5 pt-md-5 text-center" style="height: 60px;padding-bottom: 2px">
    <hr class="my-4">
    <div class="container col-12">
        <span class="text-muted text-left">&copy; 0.1.20.05.18 - TFG Metrominuto.<span
                class="text-info"> Guillermo Paredes Muga</span></span>
        <span class="text-muted">Tutores: <span
                class="text-info">Álvar Arnaiz González y César Ignacio García-Osorio</span></span>
    </div>
</footer>

<!-- Additional scripts; use the "scripts" block to add page-specific scripts.  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% block scripts %}
    <script>
        document.getElementById('sign-out').addEventListener('click', function() {
            firebase.auth().signOut();
            console.log('OUT');
            $.ajax({
                type : 'POST',
                url : "{{url_for('main.logout')}}",
                contentType: 'application/json;charset=UTF-8',
                data : JSON.stringify('OUT')
            }).done(function(response) {
                setTimeout(function(){
                         window.open("{{ url_for('main.index') }}", "_self")
                    }, 900);
            }).fail(function() {
                console.log('FAIL');
            });
        });
        (function () {
            "use strict";

            var cookieName = 'tplCookieConsent'; // The cookie name
            var cookieLifetime = 1; // Cookie expiry in days

            /**
             * Set a cookie
             * @param cname - cookie name
             * @param cvalue - cookie value
             * @param exdays - expiry in days
             */
            var _setCookie = function (cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            };

            /**
             * Get a cookie
             * @param cname - cookie name
             * @returns string
             */
            var _getCookie = function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            };

            /**
             * Should the cookie popup be shown?
             */
            var _shouldShowPopup = function () {
                if (_getCookie(cookieName)) {
                    return false;
                } else {
                    return true;
                }
            };

            // Show the cookie popup on load if not previously accepted
            if (_shouldShowPopup()) {
                $('#cookieModal').modal('show');
            }

            // Modal dismiss btn - consent
            $('#cookieModalConsent').on('click', function () {
                _setCookie(cookieName, 1, cookieLifetime);
            });

        })();
    </script>
{% endblock %}
</body>
</html>
