{% extends "base.html" %}
{% set active_page="edit_graph" %}

{% block title %}Editar Mapa{% endblock %}

{% block content %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/bootbox.all.min.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/edit_graph.css') }}">
    <script src="{{ url_for('static', filename='js/snap.svg-min.js') }}"></script>
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <div class="row float-right" style="padding-top: 5px">
                <button id="export" type="button" class="btn btn-outline-success">Export</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10" style="height: 900px">
            <svg id="svgout" version="1.1" xmlns="http://www.w3.org/2000/svg" style="width: 100%;height: 100%;padding-top: 10px;margin-left: auto;margin-right: auto"></svg>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-info">
                <div id="dropdown" class="panel-heading">
                    <h4 class="panel-title leyenda">Leyenda</h4>
                </div>
                <div class="panel-body">
                    <ul id="leyenda" class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #31a84f">
                            0 - 5 mins
                            <span class="badge badge-dark badge-pill">{{ cont_colors['green'] }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #3d9fe7">
                            6 - 7 mins
                            <span class="badge badge-dark badge-pill">{{ cont_colors['blue'] }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #ab6b49">
                            8 - 10 mins
                            <span class="badge badge-dark badge-pill">{{ cont_colors['brown'] }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #905996">
                            10 - 13 mins
                            <span class="badge badge-dark badge-pill">{{ cont_colors['purple'] }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #e52b15">
                            +14 mins
                            <span class="badge badge-dark badge-pill">{{ cont_colors['red'] }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    {#    <script src="{{ url_for('static', filename='js/edit_graph.js') }}"></script>#}
    <script>
        $( "#dropdown" ).click(function() {
            $( "#leyenda" ).slideToggle( "slow");
        });

        Snap.plugin(function (Snap, Element, Paper, global, Fragment) {
            function dragStart(x, y, e) {
                this.current_transform = this.transform();
            }

            function dragMove(dx, dy, x, y, e) {
                this.transform(this.current_transform+'T'+dx/1000+','+dy/1000);
                this.updatePaths();
            }

            function dragEndCircle(e) {
                this.current_transform = this.transform();
                grap['nodes'][lista.indexOf(this)]['pos'] = [this.matrix.e, this.matrix.f];
                $.ajax({
                    type : 'POST',
                    url : "{{url_for('main.recalcule')}}",
                    contentType: 'application/json;charset=UTF-8',
                    data : JSON.stringify(grap)
                }).done(function(response) {
                    papers.clear();
                    lista = [];
                    lista_labels = [];
                    delete grap;
                    grap = response;
                    draw_graph(response);
                }).fail(function() {
                    console.log('FAIL');
                });
            }

            function dragEnd(e) {
                this.current_transform = this.transform();
                grap['labels'][lista_labels.indexOf(this)]['changed'] = 1;
                grap['labels'][lista_labels.indexOf(this)]['pos'] = [this.matrix.e, this.matrix.f];
            }

            function updatePaths() {
                var key;
                for(key in this.paths) {
                    this.paths[key][0].attr({"path" : this.getPathString(this.paths[key][1])});
                    this.paths[key][0].prependTo(this.paper);
                }
            }

            function getCoordinates() {
                return [this.matrix.e + (this.node.width.baseVal.value / 2),
                    this.matrix.f + (this.node.height.baseVal.value / 2)];
            }

            function getPathString(obj) {
                var p1 = this.getCoordinates();
                var p2 = obj.getCoordinates();
                return "M"+p1[0]+","+p1[1]+"L"+p2[0]+","+p2[1];
            }

            function addPath(obj, color) {
                var id = obj.id;
                var path = this.paper.path(this.getPathString(obj)).attr({fill:'none', stroke:color, strokeWidth:0.009});
                path.prependTo(this.paper);
                this.paths[id] = [path, obj];
                obj.paths[this.id] = [path, this];
            }

            function removePath(obj) {
                var id = obj.id;
                if (this.paths[id] != null) {
                    this.paths[id][0].remove();
                    this.paths[id][1] = null;
                    delete this.paths[id];

                    obj.paths[this.id][1] = null;
                    delete obj.paths[this.id];
                }
            }

            Paper.prototype.draggableRect = function (x, y, w, h) {
                var rect = this.rect(0,0,w,h).transform("T"+x+","+y);
                rect.paths = {};
                rect.drag(dragMove, dragStart, dragEnd);
                rect.updatePaths = updatePaths;
                rect.getCoordinates = getCoordinates;
                rect.getPathString = getPathString;
                rect.addPath = addPath;
                rect.removePath = removePath;
                return rect;
            };

            function getCoordinatesCircle() {
                return [this.matrix.e, this.matrix.f];
            }

            Paper.prototype.draggableCircle = function (x, y, r, id_circle) {
                var circle = this.circle(0, 0, r).attr({id: id_circle,stroke:'white', strokeWidth: 0.01}).transform("T"+x+","+y);
                circle.paths = {};
                circle.drag(dragMove, dragStart, dragEndCircle);
                circle.updatePaths = updatePaths;
                circle.getCoordinates = getCoordinatesCircle;
                circle.getPathString = getPathString;
                circle.addPath = addPath;
                circle.removePath = removePath;
                //circle.addClass('circle');
                return circle;
            };

            Paper.prototype.draggableText = function (cx, cy, label,w,h, id_label, label_color) {
                var text = this.text(0, 0, label).attr({id: id_label, 'font-size':0.025, 'font-weight': 'bold', fill:label_color}).transform("T"+cx+","+cy);
                text.paths = {};
                text.drag(dragMove, dragStart, dragEnd);
                text.updatePaths = updatePaths;
                text.getCoordinates = getCoordinatesCircle;
                text.getPathString = getPathString;
                text.addPath = addPath;
                text.removePath = removePath;
                return text;
            };

        });

        function draw_graph(grafo) {
            var cont = 0;
            var l_cont = {}
            grafo['nodes'].forEach(myFunctionNodes);
            function myFunctionNodes(item) {
                lista.push(papers.draggableCircle(item['pos'][0],item['pos'][1],0.025, 'node_'+item['id']));
                l_cont[item['id']] = cont;
                cont++;
            }

            grafo['edges'].forEach(myFunctionEdges);
            function myFunctionEdges(item) {
                console.log(item);
                console.log(l_cont[item['edge'][0]]);
                lista[l_cont[item['edge'][0]]].addPath(lista[l_cont[item['edge'][1]]], item['color']);
            }

            for(var i=0;i<grafo['labels'].length;i++) {
                cx =grafo['labels'][i]['pos'][0];
                cy =grafo['labels'][i]['pos'][1];
                clabel = grafo['labels'][i]['label'];
                if(grafo['labels'][i]['node'] == 'None'){
                    var text = papers.draggableText(cx, cy, clabel,0.13,0.08, 'label_edge_'+grafo['labels'][i]['edge'][0]+grafo['labels'][i]['edge'][1], grafo['labels'][i]['color']);
                    lista_labels.push(text);
                }else {
                    var text = papers.draggableText(cx, cy, clabel,0.13,0.08, 'label_node'+grafo['labels'][i]['node'], grafo['labels'][i]['color']);
                    lista_labels.push(text);
                }
            }
        }

        var papers = Snap("#svgout");
        papers.attr({viewBox:"0, 0.2, 1, 1.5"});

        var lista = []
        var lista_labels = []
        var grap = {{ grafo|safe }};
        draw_graph(grap);

        $("[id^=label_node]").click(function (event) {
            bootbox.prompt({
                title: "Introduzca el nuevo nombre:",
                centerVertical: true,
                value: $('#' + event.target.id).text(),
                callback: function(result){
                    if (result != null) {
                        Snap('#' + event.target.id).attr({'text': result});
                        grap['labels'][lista_labels.indexOf(Snap('#' + event.target.id))]['label'] = result;
                    }
                }
            });
        });

        function triggerDownload (imgURI, fileName) {
            var evt = new MouseEvent("click", {
                view: window,
                bubbles: false,
                cancelable: true
            });
            var a = document.createElement("a");
            a.setAttribute("download", fileName);
            a.setAttribute("href", imgURI);
            a.setAttribute("target", '_blank');
            a.dispatchEvent(evt);
        }

        $("#export").on("click", function() {
            var DOMURL = window.URL || window.webkitURL || window;
            var img1 = new Image();
            var url = papers.toDataURL();
            console.log(papers.toDataURL());
            img1.onload = function() {
                DOMURL.revokeObjectURL(url);
                triggerDownload(url, 'fileName.svg');
            }
            img1.src = url;
        });
    </script>
{% endblock %}