{% extends "base.html" %}
{% set active_page="index" %}

{% block head %}
    {{ super() }}
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
    <script src="{{ url_for('static', filename='js/firebase-config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comons.js') }}"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    {{ super() }}
    <div class="jumbotron text-center">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-2 text-center" >
                    <img src="{{ url_for('static', filename='img/UBU_logo.png') }}" style="max-width: 100%;height: 160px">
                </div>
                <div class="col-md-8 text-center" >
                    <h2>UNIVERSIDAD DE BURGOS</h2>
                    <h3>ESCUELA POLITÉCTICA SPERIOR</h3>
                    <h4>Grado en Ingeniería Informática</h4>
                </div>
                <div class="col-md-2 text-center" >
                    <img src="{{ url_for('static', filename='img/logo_negativo.svg') }}" style="max-width: 100%;height: 160px">
                </div>
            </div>
        </div>
        <div class="container text-center">
                    <img src="{{ url_for('static', filename='img/escudoEPS.png') }}" style="max-width: 100%;height: 90px">
                    <img src="{{ url_for('static', filename='img/escudoInfor.svg') }}" style="max-width: 100%;height: 90px">
            <div class="row">
                <div class="col-md-2 text-center" >
{#                        <img src="{{ url_for('static', filename='img/escudoInfor.svg') }}" style="max-width: 100%;height: 100px">#}
                </div>
                <div class="col-md-8 text-center" >
                    <h1 class="display-4">TFG - MetrominutoWeb</h1>
                    <p class="lead">
                        <span class="text-info"> Guillermo Paredes Muga</span>
                        <span class="text-muted">Tutores:
                            <span class="text-info">Álvar Arnaiz González y César Ignacio García-Osorio</span>
                        </span>
                    </p>
                </div>
                <div class="col-md-2 text-center" >
{#                    <img src="{{ url_for('static', filename='img/logo_negativo.svg') }}" style="max-width: 100%;height: 100px">#}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form id="myform" action="{{url_for('main.index')}}" method="post">
                        {{ form.hidden_tag() }}
        </form>
        <div class="row text-center">
            <p>
                Para comenzar a usar la aplicación, debe iniciar sesión. Para ello, pulsa en la parte superior derecha sobre el botón
                <a id="sign-link" class="btn btn-link" href="#"><b style="color:mediumblue;">Iniciar sesión</b></a>
            </p>
        </div>
        <div class="row text-center">
            <div class="col">
                <img src="{{ url_for('static', filename='img/flask-logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
            <div class="col" style="max-width: 100%;height: 80px">
                <img src="{{ url_for('static', filename='img/LaTeX_logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='img/github_logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='img/lucidchart_logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='img/microsoft-azure-cloud-logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='img/pycharm_logo.png') }}" style="max-width: 100%;height: 80px">
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var CLIENT_ID = '621664518095-28aju93vkasp8414dmo6065fam1epl7u.apps.googleusercontent.com'
        set_url_widget('{{ url_for('main.widget') }}');
        set_url_login('{{ url_for('main.index') }}');
    </script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    </script>
{% endblock %}