{#{% extends "base_template.html" %}#}
{#{% block app_content %}#}
{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/map_template.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"> type="text/javascript"</script>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <input id="pac-input"
                   type="text"
                   placeholder="Enter a location">
            <div id="map"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Demasiados marcadores!</strong> Debes eliminar alguno.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="app">
                <table class="table table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Central Point</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in markers_list">
                        <td>
                            <label class="form-checkbox">
                                <input type="checkbox" :id="item.id" :value="item" v-model="central_markers" @click="setCentralMarker(item)">
                                <i class="form-icon"></i>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" @click="deleteMarker(item)" aria-label="Remove">
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </td>
                        <td>[[ item.text ]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <form id="myform" action="{{url_for('main.set_marks')}}" method="post" class="col-12" style="margin-top: 8px">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-lg-3 col-md-9 col-sm-9">
                    <select id="select" class="form-control">
                        <option selected>Elige modo de desplazamiento</option>
                        {% for o in form.mode.choices %}
                            <option value="{{ o.label }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-lg-1 col-md-12 col-sm-12">
    {#                {{ form.submit(class="btn btn-outline-success") }}#}
                    {{ form.submit(class="btn alert-success") }}
                </div>
                <div class="form-group col-md-2 col-sm-12">
    {#                <input type='button' class="btn btn-outline-danger" value='Borrar marcadores' id='removeButton'>#}
                    <input type='button' class="btn alert-danger" value='Borrar marcadores' id='removeButton'>
                </div>

            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function boxes(){
            $(".alert").hide()

            $("#removeButton").click(function () {
                deleteMarkers();
            });
            $('#myform').submit(function() {
                var markers = []
                app.markers_list.forEach(myFunctionMarkers);
                function myFunctionMarkers(item) {
                    let  central_mark = {'id':item.id, 'position':item.mark.position};
                    markers.push(central_mark);
                }
                var central_marks = []
                app.central_markers.forEach(myFunction);
                function myFunction(item) {
                    let  central_mark = {'id':item.id, 'position':item.mark.position};
                    central_marks.push(central_mark);
                }

                const myForm = document.getElementById('myform');
                const input_markers = document.createElement('input');
                input_markers.type = 'hidden';
                input_markers.name = 'markers';
                input_markers.value = JSON.stringify({markers: markers});
                myForm.appendChild(input_markers);

                const input_central = document.createElement('input');
                input_central.type = 'hidden';
                input_central.name = 'central_markers';
                input_central.value = JSON.stringify({central_markers: central_marks});
                myForm.appendChild(input_central);
                return true;
            });

        function initMap() {
            let map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: 42.34, lng: -3.69 }
            });

            var input = document.getElementById('pac-input');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);


            google.maps.event.addListener(map, 'click', function(event) {
                if (app.markers_list.length>=15){
                    $(".alert").show();
                }else {
                    addMarker(event.latLng, map);
                }

            });

            //FIXME ONLY FOR NO API OPERATIONS
            var positions = {{ positions|safe }};
            for(var i=1;i<positions.length;i++){
                var marker = new google.maps.Marker({position: positions[i].position,
                    map: map,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                    }});
                //markers.push(marker);
                app.addNewTodo(marker,'Marcador'+i.toString());
            }

            {#Search for places#}
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            // Specify just the place data fields that you need.
            autocomplete.setFields(['place_id', 'geometry', 'name']);
            autocomplete.addListener('place_changed', function() {

                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                var mark = new google.maps.Marker({
                    position: place.geometry.location,
                    map: map
                });
                addMarker(mark.position,map);

            });

        }
        var cont_aux=0;
        var geocoder = new google.maps.Geocoder;
        function addMarker(location, map) {
            {#geocoder.geocode({'location': location}, function(results, status) {#}
            {#        if (status === google.maps.GeocoderStatus.OK) {#}
            {#            if (results[1]) {#}
            {#                //console.log(results[0].place_id);#}
            {#                var marker = new google.maps.Marker({#}
            {#                    position: location,#}
            {#                    map: map,#}
            {#                    //draggable: true,#}
            {#                    icon: {#}
            {#                        url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"#}
            {#                    }#}
            {#                });#}
            {##}
            {#                var infowindow = new google.maps.InfoWindow({content: results[2].formatted_address });#}
            {#                infowindow.open(map,marker);#}
            {#                marker.addListener('click', function() {#}
            {#                    infowindow.open(map, marker);#}
            {#                });#}
            {#                app.addNewTodo(marker,'Marcador'+cont_aux.toString());#}
            {#                cont_aux++;#}
            {#            } else {#}
            {#                window.alert('No results found');#}
            {#            }#}
            {#        }#}
            {#    });#}
        //FIXME
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            //draggable: true,
            icon: {
                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            }
        });
        app.addNewTodo(marker,'Marcador'+cont_aux.toString());
        cont_aux++;
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            for (var i = 0; i < app.markers_list.length; i++) {
                app.markers_list[i].mark.setMap(null);
            }
            app.markers_list = [];
        }
        google.maps.event.addDomListener(window, 'load', initMap);

        {#  VUE  delimiters:['[[',']]'] #}

        var app = new Vue({
            el: "#app",
            delimiters:['[[',']]'],
            selectAll: false,
            flag: false,
            data() {
                return {
                    cont:0,
                    markers_list: [

                    ],
                    checked:[],
                    central_markers:[]
                }
            },
            methods: {
                addNewTodo: function (mark, text) {
                    this.markers_list.push({
                        id:this.cont,
                        mark:mark,
                        text:text
                    });
                    this.cont++;

                },
                deleteMarker: function (item) {
                    let index = this.markers_list.indexOf(item);
                    app.markers_list[index].mark.setMap(null);
                    this.markers_list.splice(index,1)
                    if (this.markers_list.length<15){
                        $(".alert").hide();
                    }
                },
                setCentralMarker: function (item) {
                    let index = this.markers_list.indexOf(item);
                    if(this.central_markers.indexOf(item)==-1){ //si entra, cambiar color a central
                        this.markers_list[index].mark.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                    }else{
                        this.markers_list[index].mark.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                    }
                }
            }
        });
        }) //Close Document.ready
    </script>
{% endblock %}