{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/show_graph.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style>

    </style>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customRange1">Número de arcos:</label>
                <input type="range" min="{{min}}" value="{{min}}" max="{{max}}"
                       class="custom-range" id="formControlRange">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="mysvg"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function boxes() {
            var svg_list = {{ lista|safe }};
            for(var i=0;i<svg_list.length;i++){
                console.log(i);
            }
            var svg = document.getElementById("mysvg");
            svg.innerHTML = svg_list[0];
            $("#formControlRange").change(function () {
                console.log($('#formControlRange').val());
                var svg = document.getElementById("mysvg");
                svg.innerHTML = svg_list[$('#formControlRange').val()];
            });
        });
    </script>
{% endblock %}