{% extends "base.html" %}
{% set active_page="grafo" %}

{% block title %}Visualizar Mapas{% endblock %}

{% block content %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/show_graph.css') }}">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script-->
    <script src="{{ url_for('static', filename='js/bootbox.all.min.js') }}"></script>

    <div class="row" style="padding-top: 10px">
        <div class="col-lg-10 col-md-10">
            <form id="form-graph" action="{{url_for('main.draw_svg')}}" method="post" class="col-12">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <label for="formControlRange">Número de trayectos:</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-1 text-center">
                        <button type="button" class="btn btn-default" aria-label="Minus" disabled>
                            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="form-group col-6 align-baseline">
                        <input type="range" min="{{min}}" value="{{min}}" max="{{max}}"
                               class="custom-range" id="formControlRange" name="formControlRange" style="padding-top: 20px">
                    </div>
                    <div class="form-group col-1 text-center">
                        <button type="button" class="btn btn-default" aria-label="Plus" disabled>
                            <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        {{ form.submit(class="btn alert-success") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 col-sm-12" id="mysvg" name="my-svg" style="height: 800px"></div>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-info">
                <div id="dropdown" class="panel-heading">
                    <h4 class="panel-title">Leyenda</h4>
                </div>
                <div class="panel-body">
                    <ul id="leyenda" class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #82e0aa">
                            0 - 5 mins
                            <span id="color_green" class="badge badge-dark badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #85c1e9">
                            6 - 10 mins
                            <span id="color_blue" class="badge badge-dark badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #e59866">
                            11 - 15 mins
                            <span id="color_brown" class="badge badge-dark badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #c39bd3">
                            16 - 20 mins
                            <span id="color_purple" class="badge badge-dark badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #ec7063">
                            +20 mins
                            <span id="color_red" class="badge badge-dark badge-pill"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/grafo.js') }}"></script>
    <script>
        $(document).ready(function boxes() {
            $( "#dropdown" ).click(function() {
                $( "#leyenda" ).slideToggle( "slow");
            });
            console.log({{ cont_colors_dict|safe }});
            draw_graphs({{ lista|safe }}, {{ cont_colors_dict|safe }});
        });
    </script>

{% endblock %}