{% extends "base_template.html" %}
{% block content %}
    <body>
        <div class="row">
        <div>
            <form id="myform" action="{{url_for('main.prueba')}}" method="post" class="form-inline">
{#                {{ form.hidden_tag() }}#}

                <input type="submit" value="Submit" />

{#                {{ form.submit(class="btn btn-primary") }}#}
            </form>
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script>
        $( document ).ready(function() {
            var myArray = ['some', 'values', 'to', 'be', 'sent'];
            var myForm = document.getElementById('myform');
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'myarray';
            hiddenInput.value = JSON.stringify(myArray);
            myForm.appendChild(hiddenInput);
        });

    </script>
{% endblock %}