{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - MAPA{% else %}MAPA{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Metrominuto</span>
    </nav>
{% endblock %}

{% block content %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            width: 100%;
            height: 900px;
        }
        #buttons {
            margin-left: 130px;
            margin-top: 10px;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"> type="text/javascript"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% block app_content %}{% endblock %}
{% endblock %}
