{% extends "base_template.html" %}

{% block content %}
    <style>
        #map {
            width: 100%;
            height: 900px;
        }
        #buttons {
            margin-left: 130px;
            margin-top: 10px;
        }
        .row{
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"> type="text/javascript"</script>
    <div class="row">
        <div class="col-md-8">
            <input id="pac-input"
                   type="text"
                   placeholder="Enter a location">
            <div id="map"></div>
            {#            <div class="col-md-4">#}
            {#                <div id="directions">#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="col-md-4">
            <div id="todo-list-example">
                <h3>Marcadores</h3>
                <ul>
                    <todo-item
                            v-for="(item, index) in markers_list"
                            v-bind:key="item.id"
                            v-bind:list_elements="item.text"
                            v-on:remove="deleteMarker(item)"
{#                            v-on:remove="markers_list.splice(index,1)"#}
                    ></todo-item>
                </ul>
            </div>

        </div>

    </div>
    <div class="row" id="buttons">
        <div class="col-md-2">
            <input type='button' class="btn btn-primary" value='Delete' id='removeButton'>
            <input type='button' class="btn btn-primary" value='Save' id='saveButton' href="/graph">
            <a class="btn btn-primary" role="button" target="_blank" href="{{url_for('draw_svg')}}">Show</a>
        </div>
        <div class="col-md-2">
            <form class="form-inline">
                <label for="example-number-input" class="col-2 col-form-label">Number</label>
                <input class="form-control" type="number" value="5" id="votes_number">
            </form>
        </div>
        <div class="col-md-4">
            <select id="select" class="mdb-select">
                <option value="" disabled selected>Elige Modo Desplazamiento</option>
                <option value="bicycling">Bicicleta</option>
                <option value="walking">A pie</option>
            </select>
        </div>
    </div>

    </body>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function boxes(){
            {#Array que contendrá los marcadores del mapa#}
            var markers = [];

            $("#removeButton").click(function () {
                deleteMarkers();
            });

            $("#saveButton").click(function () {
                //alert(markers[0].label);
                var list = []
                for(i=0;i<markers.length;i++){
                    var marcador = {'position' : markers[i].position};
                    list.push(marcador)
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/setMarks",
                    traditional: "true",
                    data: JSON.stringify(list),
                    dataType: "json"
                });
            });

            $("#select").change(function () {
                $.post('/setMode', {
                    mode: $('#select').val()
                }).done(function(response) {
                    {#$(destElem).text(response['text'])#}
                    console.log('OK');
                }).fail(function() {
                    {#$(destElem).text("{{ _('Error: Could not contact server.') }}");#}
                    console.log('ERROR');
                });
            });

            function initMap() {
                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: {lat: {{latitud}}, lng: {{longitud}} }
                });

                var input = document.getElementById('pac-input');
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);


                google.maps.event.addListener(map, 'click', function(event) {
                    addMarker(event.latLng, map);
                });

                {#Search for places#}
                var autocomplete = new google.maps.places.Autocomplete(input);
                autocomplete.bindTo('bounds', map);
                // Specify just the place data fields that you need.
                autocomplete.setFields(['place_id', 'geometry', 'name']);
                autocomplete.addListener('place_changed', function() {

                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        return;
                    }
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);
                    }
                    var mark = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map
                    });
                    addMarker(mark.position,map);
                });

            }
            var geocoder = new google.maps.Geocoder;
            function addMarker(location, map) {
                geocoder.geocode({'location': location}, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        if (results[1]) {
                            //console.log(results[0].place_id);
                            var marker = new google.maps.Marker({
                                position: location,
                                map: map,
                                //draggable: true,
                            });

                            {#saveMarker(marker);#}
                            var infowindow = new google.maps.InfoWindow({content: results[2].formatted_address });
                            infowindow.open(map,marker);
                            marker.addListener('click', function() {
                                infowindow.open(map, marker);
                            });
                            markers.push(marker);
                            varVue.addNewTodo(marker,results[2].formatted_address);
                            {#varVue.markers_list.push({id:varVue.cont, texto:results[2].formatted_address});#}
                            {#varVue.addNewTodo({id:varVue.cont, texto:results[2].formatted_address});#}
                            {#varVue.cont++;#}
                        } else {
                            window.alert('No results found');
                        }
                    }
                });
            }


            // Deletes all markers in the array by removing references to them.
            function deleteMarkers() {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                varVue.markers_list = [];
                markers = [];
            }
            google.maps.event.addDomListener(window, 'load', initMap);

            {#  VUE  delimiters:['[[',']]'] #}
            Vue.component('todo-item', {
                delimiters:['[[',']]'],
                template: '\
                        <li>\
                          [[ list_elements ]]\
                          <button type="button" class="btn btn-danger btn-sm" v-on:click="$emit(\'remove\')">Delete</button>\
                        </li>\
                      ',
                props: ['list_elements']
            });

            var varVue = new Vue({
                el: '#todo-list-example',
                data: {
                    cont:0,
                    markers_list: [

                    ]
                },
                methods: {
                    addNewTodo: function (mark, text) {
                        this.markers_list.push({
                            id:this.cont,
                            mark:mark,
                            text:text
                        });
                        this.cont++;
                    },
                    deleteMarker: function (item) {
                        console.log(item.mark);
                        var index = markers.indexOf(item.mark);
                        markers[index].setMap(null);
                        markers.splice(index, 1);
                        varVue.markers_list.splice(index,1)
                    }
                }
            });
        });
    </script>

{% endblock %}